- @news_category.each do |news_category|
  = link_to news_category.name, hancock_news_category_path(news_category), class: "hancock-news-category-title", title: news_category.name
  .hancock-news-category-excerpt== news_category.excerpt
